<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="LoginForm" novalidate>
        <label for="username">Username</label>
        <input name="username"
               id="username"
               ng-model="username"
               type="text"
               class="form-control"
               placeholder="username"/>
        <div ng-show="LoginForm.username.$invalid && LoginForm.$submitted">
            <span>
                Please enter a username
            </span>
        </div>

        <label for="password">Password</label>
        <input id="password"
               type="password"
               ng-model="password"
               required
               class="form-control"
               placeholder="password"/>
        <div ng-show="LoginForm.password.$invalid && LoginForm.$submitted">
            <span class="error">
                  Please enter a password
            </span>
        </div>
        <button type="submit" ng-click="model.login(username,password,LoginForm)" class="btn btn-primary btn-block">
            Login
        </button>

        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
    </form>
</div>
