
<nav class="navbar navbar-default navbar-fixed-top blueColor">

    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="profile.view.client.html">
                <span class="glyphicon glyphicon-ok whiteColor"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand whiteColor" href="#">
                Profile
            </a>

        </div>

    </div>

</nav>


<div class="container-fluid">
    <h1>Profile</h1>


    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
            type="text"
           class="form-control"
           id="username"
           placeholder="Username">


    <label for="email">Email address</label>
    <input ng-model="model.user.email"
            type="email"
           class="form-control"
           id="email"
           placeholder="alice@wonderland.com">


    <label for="first-name">First Name</label>
    <input ng-model="model.user.firstName"
            type="text"
           class="form-control"
           id="first-name"
           placeholder="Alice">


    <label for="last-name">Last Name</label>
    <input ng-model="model.user.lastName"
            type="text"
           class="form-control"
           id="last-name"
           placeholder="Wonderland">


    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blueColor">
    <div class="container-fluid">

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-user whiteColor"></span>
            </a>
        </div>

    </div>
</nav>

