<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1>
        Register
    </h1>
    <input type="text"
           ng-model="username"
           class="form-control"
           placeholder="username"/>
    <input type="password"
           ng-model="password1"
           class="form-control"
           placeholder="password"/>
    <input type="password"
           ng-model="password2"
           class="form-control"
           placeholder="verify password"/>


    <a ng-click="model.createUser(username,p)" class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
</div>
