<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '281192055652658',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<section id="home">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="../img/images/event1.jpg" alt="slider">
                <div class="carousel-caption">
                    <a target="_blank" href="https://www.eventbrite.com/">Learn More<i
                            class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="../img/images/event2.jpg" alt="slider">
                <div class="carousel-caption">
                    <a target="_blank" href="https://www.eventbrite.com/">Learn More<i
                            class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="../img/images/event3.jpg" alt="slider">
                <div class="carousel-caption">
                    <a target="_blank" href="https://www.eventbrite.com/">Learn More <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">

    <div class="about-content pull-right">
        <h2>About BookMyEvent</h2>
        <p>BookMyEvent is the technology platform. We build the technology to allow anyone to create,
            share, find and attend new things to do that fuel their passions and enrich their lives. Music festivals,
            venues, marathons, conferences, hackathons, air guitar contests, political rallies, fundraisers, gaming
            competitions — you name it, we power it.
        </p>
    </div>
</section>

<section id="explore">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-5">
                <h2>Search For Events</h2>
            </div>
            <div class="col-sm-7 col-md-6">
                <form name="SearchEventForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="location">Enter the Location</label>
                            <input name=location
                                   id="location"
                                   type="text"
                                   ng-model="location"
                                   class="form-control col-md-6"
                                   required
                                   placeholder="Location"/>
                            <div ng-show="SearchEventForm.location.$invalid && SearchEventForm.$submitted">
                            <span class="error">
                                Please enter a location!!
                            </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="eventname">Event You Are Looking</label>
                            <input name="eventname"
                                   id="eventname"
                                   type="text"
                                   ng-model="event"
                                   required
                                   class="form-control col-md-6"
                                   placeholder="Event"/>
                            <div ng-show="SearchEventForm.eventname.$invalid && SearchEventForm.$submitted">
                            <span class="error">
                                  Please enter an event!!
                            </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" ng-click="model.searchEvent(event,location,SearchEventForm)"
                            class="btn btn-primary btn-block">
                        Search
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>


<div ng-if="!currentUser">
    <section id="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>Login Here</h2>
                    <div ng-if="model.LoginError" class="alert alert-danger" role="alert">
                        {{model.LoginError}}
                    </div>
                    <div ng-if="model.LoginSuccess" class="alert alert-info" role="alert">
                        {{model.LoginSuccess}}
                    </div>
                    <form name="LoginForm" novalidate>
                        <div class="form-group">
                            <input name="username"
                                   id="username"
                                   type="text"
                                   ng-model="username"
                                   class="form-control"
                                   required
                                   placeholder="username"/>
                            <div ng-show="LoginForm.username.$invalid && LoginForm.$submitted">
                            <span class="error">
                            Please enter a username
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="password"
                                   id="password"
                                   type="password"
                                   ng-model="password"
                                   required
                                   class="form-control"
                                   placeholder="password"/>
                            <div ng-show="LoginForm.password.$invalid && LoginForm.$submitted">
                            <span class="error">
                                Please enter a password
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-click="model.login(username,password,LoginForm)"
                                    class="btn btn-primary btn-block">
                                Login
                            </button>
                            </a>
                            <a href="/auth/facebook" class="btn btn-primary btn-block">
                                <span class="fa fa-facebook-official"></span>
                                Facebook
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>Register Here</h2>
                    <div ng-if="model.RegisterError" class="alert alert-danger" role="alert">
                        {{model.RegisterError}}
                    </div>
                    <div ng-if="model.RegisterSuccess" class="alert alert-info" role="alert">
                        {{model.RegisterSuccess}}
                    </div>
                    <form name="RegisterForm" novalidate>
                        <div class="form-group">
                            <label for="username1">Username</label>
                            <input name="registername"
                                   id="username1"
                                   type="text"
                                   ng-model="registername"
                                   class="form-control"
                                   required
                                   placeholder="username"/>
                            <div ng-show="RegisterForm.registername.$invalid && RegisterForm.$submitted">
                            <span class="error">
                            Please enter a username
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input name="registerpassword"
                                   id="password1"
                                   type="password"
                                   ng-model="registerpassword"
                                   required
                                   class="form-control"
                                   placeholder="password"/>
                            <div ng-show="RegisterForm.registerpassword.$invalid && RegisterForm.$submitted">
                            <span class="error">
                                Please enter a password
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password2">Verify Password</label>
                            <input name="verifypassword"
                                   id="password2"
                                   type="password"
                                   ng-model="verifypassword"
                                   required
                                   class="form-control"
                                   placeholder="Verify Password"/>
                            <div ng-show="RegisterForm.verifypassword.$invalid && RegisterForm.$submitted">
                            <span class="error">
                                Please enter a password
                            </span>
                            </div>
                            <div ng-if="model.passwordError">
                            <span class="error">
                                {{model.passwordError}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                    ng-click="model.register(registername,registerpassword,emailid,RegisterForm)"
                                    class="btn btn-primary btn-block">
                                SignUp
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>

