<div class="container-fluid">
    <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!!</strong> {{model.success}}
    </div>

    <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!!</strong> {{model.error}}
    </div>
    <div class="col-md-8">
        <h1>Update Profile</h1>
    <form name="profileForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="jsmith">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input  ng-model="model.user.email"
                    type="email" class="form-control" id="email" placeholder="john@smith.com">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="John">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Smith">
        </div>
        <div class="form-group">
            <label for="dateofbirth">Date Of Birth</label>
            <input ng-model="model.user.date"
                   type="text"
                   class="form-control"
                   id="dateofbirth"
                   placeholder="DOB">
        </div>
        <div class="form-group">
            <label for="employed">Employment Status</label>
            <select ng-model="model.user.employed"
                    class="form-control"
                    id="employed">
                <option value="" selected disabled>Select Employment Status</option>
                <option value="Student">Student</option>
                <option value="Self-Employed">Self-Employed</option>
                <option value="Service">Service</option>
            </select>
        </div>
        <div class="form-group">
            <label for="company">Company Name</label>
            <input ng-model="model.user.company"
                   type="text"
                   class="form-control"
                   id="company"
                   placeholder="Company Name">
        </div>
        <div class="form-group">
            <label for="facebooklink">Facebook Link</label>
            <input ng-model="model.user.facebooklink"
                   type="text"
                   class="form-control"
                   id="facebooklink"
                   placeholder="https://www.facebook.com/">
        </div>
        <div class="form-group">
            <label for="linkedin">LinkedIn URL</label>
            <input ng-model="model.user.linkedin"
                   type="text"
                   class="form-control"
                   id="linkedin"
                   placeholder="https://www.linkedin.com/">
        </div>
        <div class="form-group">
            <label for="description">Something about Myself:</label>
            <textarea class="form-control"
                      rows="5"
                      ng-model="model.user.description"
                      id="description"></textarea>
        </div>

        <a class="btn btn-primary btn-block" ng-click="model.updateUser(model.user)">UpdateInfo</a>
    </form>

    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="profile-header-container">
                <div class="profile-header-img">
                        <img ng-if="model.user.url" class="img-circle" ng-src="{{model.user.url}}" />
                        <img ng-if="!model.user.url" class="img-circle" ng-src="../../../img/project-images/user.png" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">{{model.user.username}}</span>
                    </div>
                </div>
                <form action="/profile/uploads" method="post" enctype="multipart/form-data">
                    Upload your profile picture
                    <input name="myFile" type="file" class="form-control"/>
                    <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#dateofbirth").datepicker();
    });
</script>