<div class="container-fluid">

    <div class="row">

        <div class="col-md-3">
            <p class="lead"></p>
            <div class="list-group">
                <a ng-repeat="category in model.categories"
                   ng-click="model.eventByCategory(category.name)"
                   class="list-group-item">{{category.name}}</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="../../../img/project-images/event/perform.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="../../../img/project-images/event/headphone.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="../../../img/project-images/event/music.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4" ng-repeat="event in model.events">
                    <div class="thumbnail">
                        <img class="image-set" ng-src="{{model.getSafeImageUrl(event.logo)}}">
                        <div class="caption">
                            <h4 class="event-name">{{event.name.text}}</h4>
                        </div>
                        <div class="caption">
                            <h3 class="event-name"><a href="#/event/{{event.id}}">Book my Tickets</a></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


