<nav class="navbar navbar-default navbar-fixed-top blueColor">

    <div class="container">

        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left whiteColor">

                    </span>
            </a>
        </div>
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
               class="navbar-brand whiteColor">
                Choose Widget
            </a>

        </div>

    </div>

</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('HEADER')">
                Header
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                Label
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                HTML
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                Text Input
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                Link
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                Button
            </a>
        </li>
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('IMAGE')">
                Image
            </a>
        </li>
        <li class="list-group-item borderless">
            <a ng-click="model.createWidget('YOUTUBE')">
                YouTube
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                Data Table
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="">
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>