<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/templates/widget-heading.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
    </div>
    <div ng-switch-default>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                Unable to edit the widget
            </div>
        </div>
    </div>
</div>