
<nav class="navbar navbar-default navbar-fixed-top blueColor">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left whiteColor"></span>
            </a>
        </p>
        <a class="navbar-brand whiteColor">
            Widgets
        </a>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
          <span  class="glyphicon glyphicon-plus whiteColor">
          </span>
            </a>
        </div>
    </div>
</nav>

<wam-sortable data="model.widgets"
              callback="model.reorderWidget(start, end)"
              model="model">
    
</wam-sortable>


<nav class="navbar navbar-default navbar-fixed-bottom blueColor">
    <div class="container-fluid">


        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
          <span class="glyphicon glyphicon-user whiteColor">
          </span>
            </a>
        </div>
    </div>
</nav>
