<nav class="navbar navbar-default navbar-fixed-top blueColor">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
            class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left whiteColor"></span>
            </a>
        </p>
        <a class="navbar-brand whiteColor">
            Widget Edit
        </a>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span  class="glyphicon glyphicon-ok whiteColor">
          </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input type="text"
                   ng-model = "model.widget.name"
                   class="form-control"
                   id="widget-name"
                   placeholder="Name"
                   value="">
        </div>
        <div class="form-group">
            <label for="widget-text">Text</label>
            <input type="text"
                   ng-model="model.widget.text"
                   class="form-control"
                   id="widget-text"
                   placeholder="Text"
                   value="Excellent play off">
        </div>
        <div class="form-group">
            <label for="widget-size">Size</label>
            <select ng-model="model.widget.size"
                   class="form-control"
                   id="widget-size">
            <option value="" selected disabled>Select Size</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            </select>
        </div>
        <a ng-click="model.deleteWidget()"
           class="btn btn-danger btn-block">
            Delete
        </a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blueColor">
    <div class="container">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
          <span class="glyphicon glyphicon-user whiteColor">
          </span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>