<nav class="navbar navbar-default navbar-fixed-top blueColor">

    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus whiteColor"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
        <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-chevron-left whiteColor">

                    </span>
        </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand whiteColor">
                Websites
            </a>

        </div>

    </div>

</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item borderless">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>

            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blueColor">
    <div class="container-fluid">

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user whiteColor"></span>
            </a>
        </div>

    </div>
</nav>

</body>
</html>