<nav class="navbar navbar-default navbar-fixed-top blueColor">
    <div class="row container-fluid">

        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left whiteColor"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand whiteColor">
                    Websites </a>
            </div>
            <div class="navbar-text pull-right">
                <a href= "#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus whiteColor">

                    </span>
                </a>
            </div>
        </div>

        <div class="v-line hidden-xs"></div>
        <div class="col-sm-8">
            <div class="navbar-text pull-right">
                <a  href= "#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-ok whiteColor">
                    </span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin whiteColor">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs scroll">
        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat = "website in model.websites">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-8">
        <form>
            <div class="form-group">
                <label for="websiteName">Website Name</label>
                <input type="text"
                       ng-model="model.websiteDetails.name"
                       class="form-control"
                       id="websiteName"
                       placeholder="WebSite">
            </div>
            <div class="form-group">
                <label for="websiteDescription">Website Description</label>
                <textarea class="form-control"
                          ng-model="model.websiteDetails.description"
                          placeholder="Create a free website in seconds using your page."
                          id="websiteDescription"
                          rows="5"></textarea>
            </div>


        </form>

        <a class="btn btn-danger  btn-block"
           ng-click = "model.deleteWebsite()">Delete</a>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom blueColor">
    <div class="container-fluid">

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user whiteColor"></span>
            </a>
        </div>

    </div>
</nav>
