<nav class="navbar navbar-default navbar-fixed-top blueColor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 container-fluid hidden-xs ">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left whiteColor"></span>
                    </a>
                </p>
                <a class="navbar-brand whiteColor" id="Profile " href="#">
                    Pages
                </a>
                <p class="navbar-text pull-right">
                    <a class="navbar-link ">
                        <span class="glyphicon glyphicon-plus whiteColor"></span>
                    </a>
                </p>
            </div>
            <div class="col-sm-8 container-fluid">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link  visible-xs ">
                        <span id="left-website-new" class="glyphicon glyphicon-chevron-left whiteColor"></span>
                    </a>
                </p>
                <a class="navbar-brand whiteColor" href="#">
                    Edit Page
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link ">
                        <span id="ok-glyphicon-dualpane" class="glyphicon glyphicon-ok whiteColor"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs scroll">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="page in model.pages">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <div ng-if="model.error" class="alert alert-danger">
                {{vm.error}}
            </div>
            <form>
                <div class="form-group">
                    <label for="page-name">Name</label>
                    <input ng-model="model.page.name" type="input" class="form-control" id="page-name"
                           placeholder="Webpage Name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="input" class="form-control" id="description" placeholder="Webpage Title">
                </div>
            </form>
            <a class="btn btn-danger  btn-block"
               ng-click="model.deletePage()">
                Delete
            </a>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom blueColor">

    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="pull-right"> <span
                    class="glyphicon glyphicon-user whiteColor"></span></a>
        </p>
    </div>

</nav>

