<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page-List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top blueColor">

    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="page-new.view.client.html">
                <span class="glyphicon glyphicon-plus whiteColor"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="../../website/templates/website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left whiteColor">

                    </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand whiteColor">
                Pages
            </a>

        </div>

    </div>

</nav>

<div class="container-fluid">
    <div class="container-fluid">
        <!--<h1>Profile</h1>-->

        <ul class="list-inline">

            <a href="page-edit.view.client.html" class = "pull-right">
                <span class = "glyphicon glyphicon-cog"></span>
            </a>

            <a href="../../widget/templates/widget-list.view.client.html">
                Blog Post
            </a>
        </ul>

        <ul class="list-inline">
            <a href="page-edit.view.client.html" class = "pull-right">
                <span class = "glyphicon glyphicon-cog"></span>
            </a>

            <a href="../../widget/templates/widget-list.view.client.html">
                Blog
            </a>
        </ul>

        <ul class="list-inline">

            <a href="page-edit.view.client.html" class = "pull-right">
                <span class = "glyphicon glyphicon-cog"></span>
            </a>

            <a href="../../widget/templates/widget-list.view.client.html">
                Home
            </a>

        </ul>

        <ul class="list-inline">
            <a href="page-edit.view.client.html" class = "pull-right">
                <span class = "glyphicon glyphicon-cog"></span>
            </a>

            <a href="../../widget/templates/widget-list.view.client.html">
                About
            </a>


        </ul>

        <ul class="list-inline">
            <a href="page-edit.view.client.html" class = "pull-right">
                <span class = "glyphicon glyphicon-cog"></span>
            </a>

            <a href="../../widget/templates/widget-list.view.client.html">
                Contact Us
            </a>


        </ul>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>

    </div>
</nav>

</body>
</html>