<nav class="navbar navbar-default navbar-fixed-top blueColor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 container-fluid hidden-xs ">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left whiteColor"></span>
                    </a>
                </p>
                <a class="navbar-brand whiteColor">
                    Pages
                </a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.createPage(pageName) class=" navbar-link ">
                    <span class="glyphicon glyphicon-plus whiteColor"></span>
                    </a>
                </p>
            </div>
            <div class="col-sm-8 container-fluid">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link  visible-xs ">
                        <span id="left-website-new" class="glyphicon glyphicon-chevron-left whiteColor"></span>
                    </a>
                </p>
                <a class="navbar-brand whiteColor">
                    New Page
                </a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.createPage(pageName)" class="navbar-link ">
                        <span id="ok-glyphicon-dualpane" class="glyphicon glyphicon-ok whiteColor"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="page-name">Name</label>
            <input type="text"
                   ng-model="pageName"
                   class="form-control"
                   id="page-name"
                   placeholder="Page Name">
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input type="text"
                   class="form-control"
                   id="page-title"
                   placeholder="Page Title">
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom blueColor">

    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/user/profile.html" class="pull-right"> <span
                    class="glyphicon glyphicon-user whiteColor"></span></a>
        </p>
    </div>

</nav>
</div>
</body>
</html>